{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/all",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "sodium"
  },
  "rules": {
    "no-multiple-empty-lines": [2, {"max": 2, "maxEOF": 1, "maxBOF": 0}],
    "space-before-function-paren": [2, "never"],
    "no-alert": 2,
    "no-loop-func": 2,
    "no-empty": 2,
    "no-extra-semi": 2,
    "block-scoped-var": 2,
    "curly": ["error", "multi-line", "consistent"],
    "dot-notation": 2,
    "guard-for-in": 2,
    "no-implicit-coercion": 2,
    "strict": [2, "global"],
    "no-shadow": 1,
    "no-use-before-define": 2,
    "array-bracket-spacing": [2, "never"],
    "brace-style": [2, "1tbs", {"allowSingleLine": false}],
    "camelcase": 2,
    "no-lonely-if": 2,
    "no-negated-condition": 2,
    "no-nested-ternary": 2,
    "no-underscore-dangle": 2,
    "object-curly-spacing": [2, "never"],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after"],
    "quote-props": [2, "as-needed"],
    "no-bitwise": 2,
    "computed-property-spacing": 2,
    "arrow-parens": [2, "as-needed", {"requireForBlockBody": true}],
    "no-var": 2,
    "no-console": [1, {"allow": ["warn", "error"]}],
    "complexity": [1, 8],
    "max-len": [2, {"code": 80, "ignoreUrls": true}],
    "no-multi-assign": 2,
    "no-useless-concat": 2,
    "prefer-const": 2,
    "react/prop-types": 0,
    "prefer-template": 2,
    "no-mixed-operators": 0,
    "jsx-quotes": [2, "prefer-double"],
    "react/prefer-stateless-function": 0,
    "react/jsx-indent": [2, 2, {checkAttributes: true}],
    "react/jsx-filename-extension": [2, {"extensions": [".js", ".jsx"]}],
    "react/jsx-sort-props": 0,
    "react/jsx-max-props-per-line": [2, {"maximum": 1, "when": "multiline"}],
    "react/jsx-no-literals": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-tag-spacing": [2, {
      "closingSlash": "never",
      "beforeSelfClosing": "never",
      "afterOpening": "never",
      "beforeClosing": "allow"
    }],
    "react/jsx-max-depth": [2, {"max": 7}],
    "react/jsx-indent-props": [2, 2],
    "react/no-set-state": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-component-props": 0,
    "react/jsx-no-bind": [2, {"allowArrowFunctions": true}],
    "react/jsx-handler-names": 0,
    "react/jsx-child-element-spacing": 0,
    "react/jsx-fragments": 0,
    "react/state-in-constructor": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-curly-newline": 0
  },
  "settings": {
    "react": {
      "version": "16.0"
    },
  }
}
