%footer.row
  #deploy_info
    %p.text-right
      %code
        Last deployment was
        %span.tooltipp{title: ::About.last_deploy}
          = time_ago_in_words(::About.last_deploy)
        ago
    %p.text-right
      %code= ::About.rails
      on
      %code= ::About.ruby
