= favicon_link_tag '/images/touch/192x192.png',
  rel: 'shortcut icon',
  type: 'image/png',
  sizes: '192x192'

= favicon_link_tag '/images/touch/48x48.png',
  rel: 'shortcut icon',
  type: 'image/png',
  sizes: '48x48'

= favicon_link_tag '/images/touch/192x192.png',
  rel: 'apple-touch-icon',
  type: 'image/png'

= yield :manifest
