- if picture.plain?
  = image_tag '',
    data: { src: picture.image.url(:medium) },
    title: picture,
    alt: picture
- else
  = react_component :LazyEncryptedImage,
    { src: picture.image.url,
      title: picture.to_s }

%noscript
  = image_tag picture.image.url(:medium), title: picture, alt: picture
