-# This is currently also used on galleries#show

- size ||= :medium
- variant = picture.image_file.variant(resize: Settings.sizes.send(size))
- mobileVariant = picture.image_file.variant(resize: Settings.sizes.medium)

- if picture.plain?
  = react_component :LazyPicture,
    { src: url_for(variant),
      srcMobile: size == :small ? url_for(mobileVariant) : nil,
      title: picture.to_s }

  %noscript
    = image_tag variant, title: picture, alt: picture

- else
  = react_component 'crypto/LazyEncryptedImage',
    { src: url_for(picture.image_file),
      title: picture.to_s }
