-# This is currently also used on galleries#show
-# TODO Decide on using special thumbnail format (e.g. x200)
-# TODO Responsive Images (with lazy loading), remove jquery.unveil

- if picture.plain?
  = image_tag '',
    data: { src: url_for(picture.image_file.variant(resize: Settings.sizes.medium)) },
    title: picture,
    alt: picture

  %noscript
    = image_tag picture.image_file.variant(resize: Settings.sizes.medium),
    title: picture,
    alt: picture

- else
  = react_component 'crypto/LazyEncryptedImage',
    { src: url_for(picture.image_file),
      title: picture.to_s }
