-# This is currently also used on galleries#show

- if picture.plain?
  - size ||= :medium
  - image = picture.image_file.variant(Settings.sizes.send(size))
  - mediumBadImage = picture.image_file.variant(Settings.sizes.mediumBad)

  = react_component :LazyPicture,
    { src: url_for(image),
      srcMobile: size == :small ? url_for(mediumBadImage) : nil,
      title: picture.to_s }

  %noscript
    = image_tag image, title: picture, alt: picture

- else
  = react_component 'crypto/LazyEncryptedImage',
    { src: url_for(picture.image_file),
      title: picture.to_s }
