-# This is currently also used on galleries#show

- if picture.plain?
  - size ||= :medium
  - variant = picture.image_file.variant(resize: Settings.sizes.send(size), auto_orient: true)
  - mobileVariant = picture.image_file.variant(resize: Settings.sizes.medium, quality: 60, auto_orient: true)

  = react_component :LazyPicture,
    { src: url_for(variant),
      srcMobile: size == :small ? url_for(mobileVariant) : nil,
      title: picture.to_s }

  %noscript
    = image_tag variant, title: picture, alt: picture

- else
  = react_component 'crypto/LazyEncryptedImage',
    { src: url_for(picture.image_file),
      title: picture.to_s }
