-# = cache [picture.gallery, picture, params[:action], @boss_token] do
= link_to gallery_picture_path(picture.gallery, picture, back_to_page: @pictures.current_page) do
  = render 'pictures/image', picture: picture
