- content_for :title do
  = "\"#@picture\""
  on IMGSHR

.content-header
  .row
    .text-center
      %h2= @picture

.row.pictures-show
  .col-md-3
  .col-md-6
    .text-center
      = render 'pictures/picture_image', picture: @picture
      .metadata
        = render 'pictures/picture_metadata', picture: @picture
  .col-md-3
