.empty-gallery-hint
  %p
    - if any_filters?
      No matching pictures found.

      %p
        = link_to gallery_path(@gallery), class: 'btn' do
          = icon :asterisk
          Show all pictures!
      
    - else
      There are no pictures, yet.

      - if writable?
        %p
          = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#upload'} do
            = icon :upload
            Upload pictures now!
