.empty-gallery-hint.col-xs-12
  - if any_filters?
    %p No matching pictures found.

    %p
      = link_to gallery_path(@gallery), class: 'btn' do
        = icon :asterisk
        Show all pictures!

  - else
    %p There are no pictures, yet.

    - if writable?
      %p
        = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#upload'} do
          = icon :upload
          Upload pictures now!
