= image_tag absolute_url_for(picture.image_file.variant(Settings.sizes.small)), title: picture, alt: picture
%p
  = link_to absolute_url_for(picture.gallery) do
    This picture is part of the
    = surround '"' do
      = picture.gallery
    gallery on IMGSHR.
