= image_tag absolute_url(picture.image.url(:medium)), title: picture, alt: picture
%p
  = link_to absolute_url(picture.gallery) do
    This picture is part of the
    = picture.gallery
    gallery on IMGSHR.
