.col-xs-12
  %h2 Galleries

  .table-responsive
    %table.table.table-striped
      %tr
        %th Slug
        %th Name
        %th Number of images
        %th Read only?
        %th Encrypted?
        %th Visits
        %th Boss page
        %th Created at
        - if admin?
          %th GitHub?
          %th

      - @galleries.each do |gallery|
        = render 'gallery', gallery: gallery
