.btn-toolbar
  .btn-group
    - if writable?
      = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#upload'} do
        = icon :upload
        Upload
    = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#info'} do
      = icon :info_sign
      Info
