#multi-select-controls.hidden
  = form_tag gallery_multiple_pictures_delete_path(@boss_token), method: :delete, id: 'multi-select-delete' do
    = button_tag type: :submit, class: 'btn btn-default', data: { disable_with: 'Deleting...', confirm: 'Really delete all those images?' } do
      = icon :trash
      Delete
