- unless @pictures.last_page?
  = link_to_next_page(@pictures, 'â† Older', class: 'btn btn-default', params: filter_params)

= link_to_previous_page(@pictures, 'Newer â†’', class: 'btn btn-default', params: filter_params)
