%h2 Galleries

%table.table.table-striped
  %tr
    %th #
    %th Slug
    %th Name
    %th Number of images
  - @galleries.each do |gallery|
    %tr
      %td= gallery.id
      %td= link_to gallery.slug, gallery_path(slug: gallery.slug)
      %td= gallery.name
      %td= gallery.pictures.count
