.jumbotron.text-center
  %h1 Welcome!
  %p
    This is a simple image gallery sharing website.
  %p
    = link_to galleries_path, method: :post, class: 'btn btn-lg btn-success' do
      = icon :plus_sign
      Create gallery!
