.jumbotron.text-center
  %h1 IMGSHR
  %p
    Welcome! This is a simply image gallery sharing website.
  %p
    = link_to galleries_path, method: :post, class: 'btn btn-lg btn-success' do
      = icon :plus_sign
      Create gallery!
