var grid = $('#picture_grid');

<% @pictures.each_with_index do |picture, i| %>
  grid.append('<%= j render picture %>');
  grid.append('<%= picture_grid_break(i) %>');
<% end %>

grid.append('<div class="row"></div>');

$('#pictures .pagination').html('<%= j render 'pagination_links' %>');

$(document).trigger('content:update');
