- boss_token = writable? ? @boss_token : nil
#gallery{data: {slug: @gallery.slug, boss_token: boss_token}}
  = render 'header'

  - if @pictures.empty?
    = render 'empty_gallery'
  - else
    #pictures.col-xs-12{data: {endless: @gallery.endless_page}}
      #picture_grid
        = render partial: 'pictures/picture', collection: @pictures

      = render 'pagination'
