= render partial: 'header'

= cache [@gallery, :show] do
  %ul
    - @gallery.pictures.grid.in_groups_of(4, false).each do |group|
      .row
        = render partial: 'pictures/picture', collection: group
