.back {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #777;
  font-size: 1.75em;

  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    border-color: #000;
    transform: scale(1.125);
  }
}
