.content-header {
  margin-bottom: 3em;

  @media (max-width: 769px) { // @screen-sm-max
    margin-bottom: 1em;

    h2 {
      font-size: 20px;
    }
  }

  @media (max-width: 993px) { // @screen-md-max
    .headline {
      margin-bottom: 1em;
    }
  }
}
