.jumbotron-color {
  background: transparent linear-gradient(70deg, #fee 10%, #deb 90%) repeat scroll 0% 0%;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;

  &:first-letter {
    text-transform: uppercase;
  }
}

.glyphicon-fast-forward.endless-toggle {
  transform: rotate(90deg)
}

.empty-gallery-hint {
  p {
    text-align: center;
    margin: 0;

    &:first-child {
      font-size: 115%;
        color: #888;
    }
  }
}

.qr-code {
  width: 12rem;
  height: 12rem;
}

// Picture grid

#pictures {
  @media (max-width: 768px) {
    padding: 0;
  }
}

#picture_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 -150px;
  @media (max-width: 1440px) {
    margin: 0;
  }

  > a {
    position: relative;
    margin: 0 10px 10px 0;

    &:hover {
      text-decoration: none;
    }

    &.selected {
      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #337ab7;
        opacity: .5;
      }
    }
  }

  img {
    max-height: 325px;
    width: auto;
  }

  @media (max-width: 768px) {
    & > a {
      width: 100%;
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
      max-height: none;
      margin: 0 0 5px 0;
    }
  }
}

.galleries-show {
  .gallery-menu .gallery-menu-col {
    margin-bottom: .5em;
  }
}
