.pictures-show, .pictures-gallery_show {
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      flex-grow: 1;

      .best_in_place {
        input {
          max-width: 450px;
        }
      }
    }

    .dropdown-menu {
      right: 0;
      left: initial;

      @media (max-width: 768px) {
        font-size: 1.25em;

        li a {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }

  .picture {
    @media (max-width: 768px) {
      .image img {
        width: 100%;
      }
    }
  }

  .metadata {
    margin-top: 1em;

    table tr td:first-child {
      max-width: 100px;
    }

    @media (max-width: 768px) {
      table {
        font-size: 1.125em;
      }

      [data-toggle="tooltip"] {
        font-size: 1.25em;
      }

      [data-toggle="collapse"] {
        display: block;
        margin-top: 1em;

        .glyphicon {
          font-size: 2em;
        }
      }
    }
  }
}

.pictures-temp_link {
  .metadata {
    margin-top: 1em;
  }
}
