.pictures-show, .pictures-gallery_show, .pictures-temp_link {
  .picture {
    @media (max-width: 993px) { // @screen-md-max
      .image img {
        width: 100%;
      }
    }
  }

  .metadata {
    margin-top: 1em;

    table tr td:first-child {
      max-width: 100px;
    }

    .table-responsive {
      margin-top: 1em;
    }

    @media (max-width: 769px) { // @screen-md-max
      table {
        font-size: 1.125em;
      }

      [data-toggle="tooltip"] {
        font-size: 1.25em;
      }
    }
  }
}
