.pictures-show {
  img {
    max-width: 100%;
    height: auto;
  }
}

// Hard-coded bootstrap @screen-sm-min variable.
@media (max-width: 768px) {
	.modal .modal-dialog {
		margin: 0;

		.close {
			font-size: 225%;
		}

		.modal-content {
			border-radius: 0;
		}
	}

	.pictures-show .col-md-6 {
		padding: 0;
	}
}
